.find-title {
  font-size: 50px;
  font-weight: 900;
  margin: 50px;
  text-align: center;
  color: #e7272d;
}

main {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.find-input {
  align-self: flex-end;
  font-size: 0;
  border: 2px solid #e7272d;
  margin-bottom: 10px;
}
.find-input input {
  padding: 8px;
  outline: none;
  border: none;
}
.find-input label{
  display: inline-block;
  width: 20px;
  height: 31px;
  background-image: url('../img/site-selection-img.png');
  background-size: 100%;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align:bottom;
}
table {
  background-color: white;
  border-top: 6px solid #e7272d;
  width: 100%;
}

th {
  line-height: 50px;
}

td, th {
  padding: 15px;
  width: 200px;
  text-align: center;
  border-bottom: 1px solid #e7272d;
}