.banner{
    width: 100%;
    height: 650px;
    background-image: url("../img/more-info.jpg");
    background-size: 1800px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.banner div {
    width: 800px;
}
.banner h1 {
    font-size: 50px;
    font-weight: 900;
}
.banner p {
    margin: 20px;
}
select:focus{
    border: 1px dashed black;
}
form{
  margin: 0 auto;
  width: 800px;
  line-height: 3rem;
}
.form-content{
    background-color: white;
    width:700px;
    padding: 100px;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.form-content h2 {
    font-size: 50px;
    margin-bottom: 50px;
}
.form-contact{
    width: 560px;
    height: 40px;
    border-bottom: 1px dashed black;
}
.form-container {
    display: flex;
    width: 620px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-container-input{
    display:flex;
    width: 300px;
    flex-direction: column;
}
.button{
    margin-top: 20px;
}