.header-social-list {
  background-color: #e7272d;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-social-icon {
  display: inline-block;
  --scale: 1;
  width: calc(20px * var(--scale));
  height: calc(20px * var(--scale));
  margin: 5px;
}
nav {
  background-color: #222222;
  display: flex;
  justify-content: center;
}
.header-nav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.header-logo a {
  display: inline-block;
  width: 100px;
  height: 70px;
  background-image: url('../img/logo.png');
  background-size: 100px 70px;
}
.header-nav-lists {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-nav-lists li a {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
}
.now-page {
  border-bottom: 2px solid#e7272d;
}
.member-button {
  padding: 15px 20px 15px 38px;
  position: relative;
  border-radius: 20px;
  background-color: #e7272d;
  color:#fff;
  font-weight: 900;
}

.member-button::before {
  content: '';
  position: absolute;
  left:10px;
  background-image: url('../img/member.svg');
  display: inline-block;
  background-size: 20px;
  width: 20px;
  height: 20px;
  top: 16px;
}
