section {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.order-party {
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-around;
}

.simplex-slider {
  display: flex;
  width: 600px;
  height: 400px;
  overflow: hidden;
  border: 2px solid #e7272d;
  cursor: url('../img/rednext.png')72 128, pointer;
}

.sliders {
  display: flex;
}

.sliders img {
  width: 100%;
  height: 100%;
}

.slider-info {
  width: 400px;
}

.info {
  width: 350px;
  display: flex;
  flex-direction: column;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
}

.info h4 {
  font-size: 30px;
  font-weight: 900;
  color: #e7272d;
  margin-bottom: 30px;
}

.info p {
  color: white;
  line-height: 2rem;
}

.turn-page {
  animation: turnPage 1s linear;
}

.nutrition {
  min-height: 100vh;
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-around;
}

.nutrition-info {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.nutrition-info h4 {
  font-size: 30px;
  font-weight: 900;
  color: #e7272d;
}

.nutrition-info h5 {
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin: 20px 0;
}

.nutrition-info p {
  color: white;
  line-height: 2rem;
}

.nutrition-img {
  width: 500px;
  height: 500px;
  border: 2px solid #e7272d
}

.nutrition-img img {
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .order-party {
    width: 950px;
  }
  .simplex-slider {
    width: 500px;
    height: 320px;
  }
  .nutrition{
    width: 950px;
  }
  .nutrition-img{
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .order-party {
    width: 750px;
  }
  .simplex-slider {
    width: 400px;
    height: 320px;
  }
  .slider-info {
    width: 300px;
  }
  
  .info {
    width: 300px;
  }
  .info h4 {
    font-size: 25px;
  }
  .nutrition{
    width: 750px;
  }
  .nutrition-img{
    width: 380px;
    height: 380px;
  }
  .nutrition-info h4{
    font-size: 20px;
  }
  .nutrition-info h5{
    font-size: 16px;
  }
  .nutrition-info {
    width: 350px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .order-party {
    width: 90%;
  }
  .simplex-slider {
    width: 300px;
    height: 220px;
  }
  .slider-info {
    width: 40%;
  }
  
  .info {
    width: 200px;
  }
  .info h4 {
    font-size: 18px;
  }
  .nutrition{
    width: 90%;
  }
  .nutrition-img{
    width: 250px;
    height: 250px;
  }
  .nutrition-info h4{
    font-size: 20px;
  }
  .nutrition-info h5{
    font-size: 16px;
  }
  .nutrition-info {
    width: 50%
  }
}
@media (max-width: 575px){
  .order-party{
    flex-wrap: wrap;
    min-height: 80vh;
    margin: 10vh 0;
  }
  .simplex-slider {
    width: 80%;
    height: 40%;
  }
  .slider-info {
    width: 75%
  }
  .info {
    width: 100%;
  }
  .info h4{
    font-size: 25px;
  }
  .nutrition {
    width: 100%;
    flex-wrap: wrap;
  }
  .nutrition-img{
    order: 3;
    width: 80%;
    height:auto
  }
  .nutrition-info {
    order: 4;
    margin-top:50px;
    width: 75%;
  }
  .nutrition-info h4{
    font-size: 20px;
  }
  .nutrition-info h5{
    font-size: 16px;
  }
}

.delivery {
  background-color: #222222;
  background-image: url('../img/background-city.png');
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.delivery-content {
  color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}

.delivery-content h4 {
  font-size: 40px;
  font-weight: bold;
}

.delivery-content p {
  line-height: 1.2rem;
}

.delivery-img {
  width: 500px;
  height: 350px;
}

.delivery-deliveryman {
  width: 400px;
  height: 350px;
  transition: 1s all;
}

.delivery-cloud {
  opacity: 0;
}

.delivery-cloud-animation {
  animation: cloudup 2s steps(2);
}

@media (min-width: 768px) and (max-width: 991px) {
  .delivery-content {
    width: 350px
  }
  .delivery-img {
    width: 400px;
    height: 300px;
  }
  .delivery-deliveryman {
    width: 330px;
    height: 280px;
    transition: 1s all;
  }
}

@media (max-width: 767px) {
  .delivery-img {
    display: none;
  }
  .delivery{
    justify-content: center;
  }
  .delivery-content {
    width: 80%
  }
}

.trait {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.trait-burger {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  align-items: center;
}

.trait-burger-box {
  margin-top: -160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 1s;
  transform: translateX(100px);
}

.burger-box-active {
  opacity: 1;
  transform: translateX(0px);
}

.breadup {
  transform: translateY(150px);
}

.meat {
  transform: translateY(90px);
}

.veggie {
  transform: translateY(40px);
}

.trait-burger-box img {
  width: 90%;
  transition: all 1s;
  display: block;
}

.trait-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 65vh;
}

.trait-title {
  font-size: 40px;
  text-align: center;
  height: 100px;
  line-height: 150px;
  color: white;
  font-weight: 900;
  background-image: linear-gradient(75deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 33.33%, rgba(255, 255, 255, 0) 66.67%, rgba(255, 255, 255, 0) 100%);
  background-size: 300% 100%;
  background-position-x: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 1.5s all;
}

.trait-title-active {
  background-position-x: 0%;
}

.trait-burger-title {
  font-size: 30px;
  color: #e7272d;
  font-weight: 900;
  font-family: monospace;
  width: 1ch;
  overflow: hidden;
  transition: all 1.5s steps(9, jump-none);
}

.trait-burger-section {
  opacity: 0;
  width: 170px;
  color: white;
  transition: all 1s;
}

.menu-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu-section-title {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-title {
  font-weight: 900;
  font-size: 40px;
  color: white;
  text-align: center;
}

.menu-title-info {
  font-size: 20px;
  color: #e7272d;
}

.menu-card-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
}

.menu-card {
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.menu-card::before, .menu-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #FFF;
  transition: 0.5s;
  z-index: -1;
}

.menu-card:hover::before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.menu-card:hover::after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}

.menu-img-box {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222222;
  transition: 0.5s;
  z-index: 2;
}

.menu-card:hover .menu-img-box {
  bottom: 90px
}

.menu-img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 70px;
  text-align: center;
  z-index: 1;
}

.card-info h4 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #e7272d;
}

.card-info .button {
  border: 1px solid #e7272d;
  margin: 0 auto;
}

.card-info .button a {
  display: block;
  text-decoration: none;
  color: #e7272d;
}

.card-info .button:hover a {
  color: white
}
@media (min-width: 991px) and (max-width:1199px) {
  .menu-card-box {
    width: 990px;
  }
  
  .menu-card {
    width: 280px;
    height: 320px;
  }
}
@media (min-width: 767px) and (max-width: 991px){
  .menu-card-box {
    width: 90%;
    justify-content: space-between;
  }
  
  .menu-card {
    width: 200px;
    height: 240px;
  }
}
@media (max-width: 766px){
  .menu-card-box{
    width: 90%;
    flex-direction: column;
  }
  .menu-card{
    margin: 50px;
  }
}
@media (max-width: 575px){
  .menu-title-info {
    font-size: 16px;
  }
  .menu-card{
    width: 280px;
    height: 330px;
  }
}
.trait-m {
  display: none;
}
@media (max-width: 991px) {
  .trait {
    display: none;
  }
  .trait-m {
    margin: 20vh 0;
    display: flex;
    width: 100%;
    min-height: 60vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  .trait-m-img {
    display: block;
    width: 70%;
  }
  .trait-slider {
    width: 250px;
    overflow: hidden;
    margin: 50px;
  }
  .slider-box {
    display: flex;
    width: 600px;
    transition: all 1s;
  }
  .trait-burger-section {
    opacity: 1;
    min-width: 250px
  }
  .trait-burger-title {
    width: 9ch;
    margin-bottom: 10px;
  }
  .slider-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
  }
  .slider-button div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 5px solid white;
  }
}