.slider-container {
  display: flex;
  position: relative;
  width: 100%;
}

.banners {
  width: 100%;
  margin: 0 auto;
}

.banners > div {
  margin: auto;
  width: 90%;
  height: 620px;
  background-size: 100% 100%;
}

.banner-one {
  background-image: url('../img/banner1.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 50px;
}
.banner-one div{
  margin-left: 60px;
}
.banner-one h4 {
  color: #00892a;
  font-size: 30px;
  font-weight: 900;
}

.banner-one h1 {
  color: #00572d;
  font-size: 100px;
  font-weight: 900;
}
.banner-one p {
  font-weight: 900;
  font-size: 30px;
  color: #00572d;
}

.banner-second {
  background-image: url('../img/banner3.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 50px;
}
.banner-second div{
  margin-left: 60px;
}
.banner-second h1{
  font-weight: 900;
  font-size: 40px;
  color: #f3b115;
  width: 500px;
}
.banner-second p{
  font-weight: 900;
  font-size: 40px;
  color: white;
}
.banner-third {
  background-image: url('../img/banner2.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 50px;
}
.banner-third div {
  margin-left: 60px;
}
.banner-third h1 {
  font-weight: 900;
  font-size: 60px;
  color: #f3b115
}
.banner-third p{
  font-weight: 900;
  font-size: 30px;
  color: white;
  width: 450px;
}

.banner-none {
  display: none;
}

.banner-visiable {
  display: flex;
  animation: FadeIn 1s;
}

.prev {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
}

.next {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  right: 0
}