.slider-container{
  overflow-x: hidden;
  height: 650px;
  position: relative;
  display: flex;
  align-items: center;
}
.banners{
  width: 100%;
  height: 650px;
  display: flex;
}
.next{
  position: absolute;
  width: 50px;
  height: 50px;
  right: 5px;
}
.prev{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 5px;
}
.banner-one {
  background-image: url('../img/banner1.jpg');
  min-width: 100%;
  background-position: center center;
  background-size: 100% 100%;
  height:650px;
  display: flex;
  align-items: center;
}
.banner-one-content{
  margin-left: 10%;
  width: 40%;
}
.banner-one h4 {
  color: #00892a;
  font-size: 30px;
  font-weight: 900;
}

.banner-one h1 {
  color: #00572d;
  font-size: 50px;
  font-weight: 900;
}
.banner-one p {
  font-weight: 900;
  font-size: 30px;
  color: #00572d;
}

.banner-second {
  background-image: url('../img/banner3.jpg');
  min-width: 100%;
  background-position: center center;
  background-size: 100% 100%;
  height:650px;
  display: flex;
  align-items: center;
}
.banner-second-content{
  margin-left: 10%;
  width:35%;

}
.banner-second h4{
  font-weight: 900;
  font-size: 40px;
  color:#f3b115;
}
.banner-second h1{
  font-weight: 900;
  font-size: 40px;
  color: white;
}
.banner-second p{
  font-weight: 900;
  font-size: 30px;
  color:#f3b115;
}

.banner-third {
  background-image: url('../img/banner2.jpg');
  min-width: 100%;
  background-position: center center;
  background-size: 100% 100%;
  height:650px;
  display: flex;
  align-items: center;
}
.banner-third-content {
  margin-left: 10%;
  width: 40%;
}
.banner-third h1 {
  font-weight: 900;
  font-size: 40px;
  color: #f3b115
}
.banner-third p{
  font-weight: 900;
  font-size: 30px;
  color: white;
}
@media (max-width: 575px) {
  .banner-one{
    background-image: url('../img/banner1-m.jpg');
    background-color: yellow;
    background-size: 100% 50%;
    background-position: top;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
    overflow-y: hidden;
  }
  .banner-one-content{
    width: 80%;
    height: 40%;
  }
  .banner-one h4 {
    color: #00892a;
    font-size: 25px;
    font-weight: 900;
  }
  
  .banner-one h1 {
    color: #00572d;
    font-size: 50px;
    font-weight: 900;
  }
  .banner-one p {
    font-weight: 900;
    font-size: 20px;
    color: #00572d;
  }
  .banner-second{
    height: 100%;
    background-image: url('../img/banner3-m.jpg');
    background-color: black;
    background-size: 100% 50%;
    background-position: top;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
    overflow-y: hidden;
  }
  .banner-second-content{
    width: 80%;
    height: 40%;
  }
  .banner-second p{
    font-size: 20px;
  }
  .banner-third{
    height: 100%;
    background-image: url('../img/banner2-m.jpg');
    background-color: #008D43;
    background-size: 100% 50%;
    background-position: top;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
    overflow-y: hidden;
  }
  .banner-third-content{
    width: 80%;
    height: 40%;
  }
  .banner-third h1{
    font-size: 35px;
  }
  .banner-third p{
    font-size: 25px;
  }
}

